@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.jumbotron {
  background-color: #0477BF;
  color: #f0f0f0;
  border-radius: 0px;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
.question{
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  height: 200px;
  margin-top: 40px;
}
