.fluid-jumbotron {
  background-image: url("../imgs/jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
}
.jumbo-text {
  background-color: #192DA1;
}
.btn-classic-blue {
  background-color: #192DA1;
  color: #fff;
}
.btn-classic-blue:hover {
  background-color: #2039CC;
  color: #f0f0f0;
}
.navbar-purple {
  background-color: #6A0DC4 !important;
}
.navbar-purple .navbar-brand, .navbar-purple .nav-link {
  color: #f0f0f0;
  font-family: 'Balsamiq Sans', cursive;
}
.navbar-brand {
  width: 200px;
  height: 100px;
}
